<!-- src/app/about/about.component.html -->
<section id="about" class="about-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">About me</h3>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="box-shadow-full">
            <div class="row">
              <div class="col-md-4">
                <div class="about-img">
                  <img src="../../assets/pic.jpeg" class="img-fluid rounded" alt="Profile Image">
                </div>
              </div>
              <div class="col-md-8">
                <div class="about-me pt-4 pt-md-0">
                  <p class="lead">
                    <strong>Name:</strong> Khadija Oukhlift
                  </p>
                  <p class="lead">
                    <strong>Profile:</strong> Student, Web Developer
                  </p>
                  <p class="lead">
                    <strong>Email:</strong> khadijaoukhliftgmail.com
                  </p>
                  <p class="lead">
                    <strong>Phone:</strong> (617) 00000000
                  </p>
                </div>
              </div>
            </div>
          
          </div>
        </div>
        <div class="col-md-6">
          <div class="box-shadow-full">
            <div class="about-me pt-4 pt-md-0">
              <p class="lead">
                Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Nulla porttitor accumsan tincidunt.
              </p>
              <p class="lead">
                Mauris blandit aliquet elit.
              </p>
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>